<div class="container">
  <section class="row">
    <div class="col-12">
      <div class="text-center my-2">
        <h1>Houses</h1>
      </div>
    </div>
  </section>
  <h3>Submit a House Listing</h3>
  <section class="row">
    <div class="col-12">
      <form action="">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Year Built">
          <label for="floatingInput">Year Built</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Listing Name">
          <label for="floatingInput">Listing Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" placeholder="Number of bedrooms">
          <label for="floatingInput">Number of Bedrooms</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Number of Bathrooms">
          <label for="floatingInput">Number of Bathrooms</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Square Footage">
          <label for="floatingInput">Square Footage</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Price">
          <label for="floatingInput">Price</label>
        </div>
        <div class="">
          <label for="imgUrl">House Image</label>
          <input id="imgUrl" name="imgUrl" type="url" required maxlength="2000" placeholder="House Image...">
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Describe your House" id="floatingTextarea2"
            style="height: 100px"></textarea>
          <label for="floatingTextarea2">Describe your House</label>
        </div>
        <div>
          <button type="submit">Submit</button>
      </form>
    </div>
</div>
</section>

<section id="house-listings" class="row">
  <div class="col-12">
    <section class="row my-3">
      <div class="col-md-4">
        <img class="house-img"
          src="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8MiUyMGJlZHJvb20lMjBob3VzZXxlbnwwfHwwfHx8MA%3D%3D"
          alt="Awesome House Picture">
      </div>
      <div class="col-md-8">
        <h2>1999 Beautiful 2 Bedroom Home</h2>
        <h3 class="fw-b">$230000</h3>
        <h4>2 Bedrooms</h4>
        <h4>2 Bathrooms</h4>
        <h5>Square Footage</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore esse pariatur quod soluta. Assumenda,
          doloribus reprehenderit pariatur maiores facere obcaecatin</p>
        <div class="align-items-end">
          <button>Contact Seller</button>
        </div>
      </div>










    </section>




  </div>





</section>